<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="WordPress project" xsi:noNamespaceSchemaLocation="https://schema.phpcodesniffer.com/phpcs.xsd">
    <description>WordPress Coding Standards for project-owned PHP code.</description>

    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="8"/>
    <arg value="ps"/>

    <config name="minimum_supported_wp_version" value="6.5"/>
    <config name="testVersion" value="8.3-"/>

    <file>.</file>

    <!-- Dependencies and generated or mutable WordPress content. -->
    <exclude-pattern type="relative">^node_modules/</exclude-pattern>
    <exclude-pattern type="relative">^vendor/</exclude-pattern>
    <exclude-pattern type="relative">^wp-content/cache/</exclude-pattern>
    <exclude-pattern type="relative">^wp-content/languages/</exclude-pattern>
    <exclude-pattern type="relative">^wp-content/upgrade/</exclude-pattern>
    <exclude-pattern type="relative">^wp-content/uploads/</exclude-pattern>

    <!-- WordPress core is a dependency, not project-owned code. -->
    <exclude-pattern type="relative">^index\.php$</exclude-pattern>
    <exclude-pattern type="relative">^wp-admin/</exclude-pattern>
    <exclude-pattern type="relative">^wp-includes/</exclude-pattern>
    <exclude-pattern type="relative">^wp-[^/]+\.php$</exclude-pattern>
    <exclude-pattern type="relative">^xmlrpc\.php$</exclude-pattern>

    <rule ref="PHPCompatibilityWP"/>
    <rule ref="WordPress">
        <exclude name="WordPress.Files.FileName"/>
    </rule>
    <rule ref="WordPress.Files.FileName">
        <!-- PHPUnit 11 discovers conventional *Test.php class files by name. -->
        <exclude-pattern type="relative">^tests/</exclude-pattern>
    </rule>
    <rule ref="Generic.Commenting.Todo"/>
</ruleset>
